@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
*
{
  box-sizing: border-box;
}
body
{
  margin:0px;
  padding:14px;
  background-color: #00214f;
  min-height:100vh;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;
}
.app-container
{
  width: 100%;
  display: flex;
}
.app-left
{
  flex-basis: 240px;
  background-color: #01081f;
  height: 100%;
  padding: 24px 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.app-left.show
{
  display:block;
}
.app-logo
{
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.app-logo span
{
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  margin-left: 16px;
}
.close-menu
{
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
ul
{
  list-style-type: none;
  padding: 0;
}
a
{
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus, a:active
{
  text-decoration: none;
}
button
{
  cursor: pointer;
}
.nav-list
{
  margin-top: 40px;
}
.nav-list-item
{
  margin-bottom: 12px;
}
.nav-list-link
{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 24px;
  color: #a6a6a6;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-list-link svg
{
  margin-right: 12px;
}
.nav-list-link:after
{
  content: '';
  height: 100%;
  width: 4px;
  background-color: #3d7eff;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  height: 0;
}
.nav-list-item:not(.active):hover
{
  background-color: #0c1635;
}
.nav-list-item.active .nav-list-link
{
  color: rgb(235, 235, 235);
}
.nav-list-item.active .nav-list-link:after
{
  height: 100%;
  opacity: 1;
}
.app-main
{
  flex: 1;
  padding: 24px;
  background: radial-gradient(circle, #051340 1%, #040f32 100%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.main-header-line
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.main-header-line h1
{
  color: #fff;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.action-buttons
{
  display: flex;
  align-items: center;
}
.menu-button
{
  width: 40px;
  height: 40px;
  margin-left: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #01081f;
  border: none;
  color: #fff;
  border-radius: 4px;
}
.main-content-container
{
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
}
.main-content-wrapper
{
  padding: 8px;
  width:100%;
}
.main-content
{
  width: 100%;
  border-radius: 10px;
  background-color: #01081f;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#searchLandForm
{
  width:100%;
  display:flex;
  justify-content:center;
  margin-bottom: 20px;
}
#searchLandForm .form-group
{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
#searchLandForm label, #addLandForm label, #transferForm label
{
  color:#e2dede;
  font-weight: 500;
}
#searchLandForm .inputGroupContainer, #addLandForm .inputGroupContainer, #transferForm .inputGroupContainer
{
  width: 45%;
}
.form-control
{
  height:30px;
  z-index:1 !important;
}
#searchResultsTable
{
  border:none;
  color:#adadad;
  font-size:12px;
  width:100%;
  margin-bottom:8px;
  border-collapse:separate;
  border-spacing:0 10px;
}
#map-canvas
{
  height: 200px;
  width: 50%;
  border-radius: 10px;
}
#addLandForm, #transferForm
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  width:100%;
}
#addLandForm .form-group, #transferForm .form-group
{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#addLandButton
{
  background-color: #2c3c78;
  border-radius: 6px;
  border: 2px solid #1b415e;
  color: white;
  padding: 3px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
#addLandButton:hover
{
  background-color:#253b9e;
}
.region
{
  padding: 10px;
  width: 43%;
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 10px;
  resize:none;
}
.region:focus
{
  border: none;
  outline: none;
}
.admins
{
  margin-top:4px;
}
.admins .box
{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:12px;
}
.admins .box .admin
{
	background-color: #01081f;
  border-radius:0.25rem;
  padding:1rem;
  display:flex;
  align-items:center;
}
.admins .box img
{
  max-width:100%;
  height:auto;
  border-radius:50rem;
}
.admins .box h3
{
	color: #D1D5DB;
  margin-bottom:0.25rem;
  font-size:1.75rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2
}
.admins .box p
{
	color: #9CA3AF;
  margin-bottom:0px;
  margin-top:0px;
}
@media screen and (max-width: 1180px)
{
  .main-content-container
  {
    flex-direction: column;
  }
}
@media screen and (max-width: 920px)
{
  .menu-button
  {
    display: flex;
  }
  .app-left
  {
    display:none;
    position: absolute;
    top: 0;
    right:0;
    z-index: 2;
    height: 100%;
    width: 320px;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }
  .close-menu
  {
    display: flex;
  }
}
@media screen and (max-width: 650px)
{
  .main-content-container
  {
    flex-direction: column;
  }
  .main-content-container .main-content-wrapper
  {
    width: 100%;
  }
  .admins .box
  {
    display:flex;
    flex-direction:column;
  }
  .admins .box h3
  {
    font-size:1rem;
    font-weight: 500;
    line-height: 1.2
  }
}
@media screen and (max-width: 520px)
{
  .main-header-line h1
  {
    font-size: 14px;
  }
}